{% extends 'coreapp/partials/base.html' %} {% load static %} {% block title %}
Movie Generator {% endblock %} {% block content %} {% include 'coreapp/partials/header.html' %}
<div class="movie-container">
        <img src="https://image.tmdb.org/t/p/original/{{ poster }}" alt="">

    <div class="movie-info">
        <h1> {{ title }} </h1>
        <h2>Initial Release: {{ release }} </h2>
        <h2>Director: {{ author }} </h2>
        <p> {{ overview }} </p>
        <a href="/movie/"><button class="gen-btn">Generate!</button></a>
    </div>
</div>
{% endblock %}