 {% extends 'coreapp/partials/base.html' %} {% load
static %} {% block title %} To-Do-App {% endblock %} {% block content %} {% include 'coreapp/partials/header.html' %}
{% load crispy_forms_tags %}
<body class="container-fluid">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %} {% endif %}

  <center class="row">
    <h1>Django To Do App</h1>
    <hr />
  </center>

  <div class="row">
    <div class="col-md-8">
      {% for i in list %}
      <div class="card">
        <center><b>{{i.title}}</b></center>
        <hr />
        {{i.urgency}} | {{i.due_date}}
        <hr />
        {{i.details}}

        <br />
        <form
          action="/del/{{i.id}}"
          method="POST"
          style="padding-right: 4%; padding-bottom: 3%"
        >
          {% csrf_token %}
          <button
            value="remove"
            type="submit"
            class="btn btn-primary"
            style="float: right"
          >
            <span class="glyphicon glyphicon-trash"></span> &nbsp; remove
          </button>
        </form>
      </div>
      {% endfor%}
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-3">
      <div class="submit_form">
        <form method="POST">
          {% csrf_token %} {{forms|crispy}}
          <center>
            <input type="submit" class="btn btn-default" value="submit" />
          </center>
        </form>
      </div>
    </div>
  </div>
</body>
{% endblock %}
