 {% extends 'coreapp/partials/base.html' %} {% load static %} 
{% block css %} <link rel="stylesheet" href="{% static '/coreapp/css/style.css' %}"> {% endblock %}

{% block title %} To-Do-App {% endblock %} {% block content %} {% include 'coreapp/partials/header.html' %}
{% load crispy_forms_tags %}
{% comment %} <body class="container-fluid">
  {% if messages %} {% for message in messages %}
  <div class="alert alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %} {% endif %}

      {% for i in list %}
      <div class="todo-structure">
      <div class="todo-card">
        <center><b>{{i.title}}</b></center>
        <hr />
        {{i.urgency}} | {{i.due_date}}
        <hr />
        {{i.details}}

        <br />
        <form
          action="/del/{{i.id}}"
          method="POST"
          
        >
          {% csrf_token %}
          <button
            value="remove"
            type="submit"
            class="btn-del"
            style="float: right"
          >
            <span class="glyphicon glyphicon-trash"></span> &nbsp; remove
          </button>
        </form>
      </div>
      {% endfor%}
    </div>
      <div class="submit_form">
        <form method="POST">
          {% csrf_token %} {{forms|crispy}}
          <center>
            <input type="submit" class="btn btn-default" value="submit" />
          </center>
        </form>
      </div>
      </div>
</body> {% endcomment %}
{% if messages %} {% for message in messages %}
  <div class="alert-msg">
    <strong>{{message}}</strong>
  </div>
  {% endfor %} {% endif %}


<div class="todoapp">
    <div class="new-todo-structure">
      <div class="submit-form">
          <form method="POST" class="form-todo">
              {% csrf_token %} {{forms|crispy}}
              <center>
              <input type="submit" class="submit-btn" value="submit" />
              </center>
          </form>
      </div>
  </div>
  {% for todo in list %}
  <div class="todo-structure">
      <div class="todo-card">
        <table>
          <thead>
            <tr>
              <th>Urgency</th>
              <th>Type</th>
              <th>Title</th>
              <th>Due Date</th>
              <th>Details</th>
            </tr>
            <tbody>
              <tr>
                <td>{{todo.urgency}}</td>
                <td>{{todo.type}}</td>
                <td>{{todo.title}}</td>
                <td>{{todo.due_date}}</td>
                <td>{{todo.details}}</td>
              </tr>
            </tbody>
          </thead>

        </table>

          <form
            action="/del/{{todo.id}}"
            method="POST" class="form-delete">
            {% csrf_token %}
            <button
              value="remove"
              type="submit"
              class="btn-del"
            >
          <i class="fa-solid fa-trash-can"></i>
            </button>
          </form>
      </div>
  </div>
  {% endfor %}

</div>

{% endblock %}
