{% extends 'coreapp/partials/base.html' %} {% load static %} {% block title %}
Weather App {% endblock %} {% block content %} {% include 'coreapp/partials/header.html' %}

  {% if messages %} {% for message in messages %}
  <div class="alert-info">
    <strong>{{message}}</strong>
  </div>
  {% endfor %} {% endif %}

<form method="POST" class="weather-csrf">
  {% csrf_token %}
  <div class="field">
    <div class="weather-form">{{ form.name }}</div>
    <div class="control">
      <button class="add-btn">Add City</button>
    </div>
  </div>
</form>

<div class="weather-widgets">
{% for city_weather in weather_data %}
<div class="box">
  <article class="media">
    <div class="media-weather">
      <figure class="image">
        <img
          src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png"
          alt="Image"
        />
      </figure>
    </div>
    <div class="media-content">
      <div class="weather-content">
        <p>
          <span class="weather-title">{{ city_weather.city }}</span>
          <br />
          <span class="weather-subtitle"
            >{{ city_weather.temperature }}° C</span
          >
          <br />
          {{ city_weather.description }}
        </p>
      </div>
    </div>
  </article>
</div>

{% endfor %} 
</div>
{% endblock %}
