/***
    The new CSS reset - version 1.6.1 (last updated 25.5.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:root {
  --dark-blue: #1f4690;
  --light-blue: #3a5ba0;
  --strong-yellow: #ffa500;
  --light-yellow: #ffe5b4;
}
/* 
html,
body,
main {
  height: 100%;
} */

body {
  font-family: "Roboto", sans-serif;
  background-color: #edede9;
}

.auth-need {
  display: flex;
  height: inherit;
  justify-content: center;
  color: #000;
  text-align: center;
  align-items: center;
  margin-top: 400px;
}

.auth-need p {
  margin-bottom: 10px;
}

.auth-need a {
  margin: 5px;
  color: var(--strong-yellow);
}

.form-login-container {
  display: flex;
  height: inherit;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 400px;
}

.form-login {
  flex: 1;
}

.form-login label {
  color: #000;
  margin-right: 5px;
}

#id_password {
  margin-left: 2px;
}

.form-login input {
  width: 180px;
  padding: 5px;
  border: 1px solid #e3d5ca;
  background-color: #d5bdaf;
  border-radius: 8px;
  color: #fff;
}

.form-login button {
  margin-top: 5px;
  width: 263px;
  padding: 4px;
  border: 1px solid #e3d5ca;
  background-color: #d5bdaf;
  border-radius: 8px;
  color: #fff;
}

.form-login button:hover {
  cursor: pointer;
  color: #000;
  background-color: #d6ccc2;
}

/* HEADER & NAV */

.logo {
  width: 50px;
}

.header {
  width: 100%;
}

.header-container {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #457b9d;
}

.logo-link {
  display: flex;
  text-align: center;
  align-items: center;
  gap: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
}

.user-logged {
  display: flex;
  align-items: center;
  padding: 0 20px;
  gap: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  gap: 20px;
}

.media {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  width: 222px;
  padding: 3px;
  background-color: #dcdcdc;
}

.weather-csrf {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.weather-csrf input {
  border: 1px solid #000;
  color: #fff;
  width: 222px;
  padding: 3px;
  border-radius: 7px;
  background-color: #457b9d70;
}

.weather-csrf button {
  margin-top: 10px;
  border-radius: 7px;
  border: 1px solid #000;
  background-color: #fff;
  width: 100px;
}

.weather-csrf button:hover {
  cursor: pointer;
  background-color: #457b9d;
  color: #fff;
}

.movie-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.movie-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 0 20px;
  gap: 20px;
}

.movie-container img {
  width: 250px;
}

.gen-btn {
  background-color: #e3d5ca;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid #000;
}

.gen-btn:hover {
  cursor: pointer;
  background-color: #d6ccc2;
}

/* Todo */
.todoapp {
  margin-top: 60px;
}

.todo-structure {
  background-color: #457b9d70;
  border-radius: 8px;
  width: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
}

.todo-card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 20px 20px;
  gap: 10px;
}

.new-todo-structure {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  float: right;
}

.submit-form input,
textarea,
select {
  width: 100%;
  border: 1px solid #000;
  color: #fff;
  padding: 3px;
  border-radius: 7px;
  background-color: #457b9d70;
}

.submit-btn {
  width: 100px !important;
  margin-top: 20px;
}

.submit-btn:hover {
  cursor: pointer;
  background-color: #457b9d;
  color: #fff;
}

th {
  border: 1px solid #000;
}

table {
  table-layout: fixed;
  width: 100%;
  text-align: center;
}

.alert-msg {
  margin: 0 auto;
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.about-section {
  gap: 20px;
  line-height: 35px;
}

.about-section a {
  color: #457b9d;
  text-decoration: none;
}

.about-container p {
  color: rgb(75, 75, 75);
}

h1 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

.li-title {
  color: #000;
}

.problems,
.applications li {
  color: rgb(75, 75, 75);
}
